[submodule "themes/resume"]
	path = themes/resume
	url = https://github.com/eddiewebb/hugo-resume.git
[submodule "themes/almeida-cv"]
	path = themes/almeida-cv
	url = https://github.com/ineesalmeida/almeida-cv.git
