{{ if .Volunteering }}
<div id="volunteering" class="section">
    <div class="section__heading">
        <h2 class="section__title">
            Volunteering
        </h2>
    </div>
    <div class="section__content">
        {{ range .Volunteering }}
            <div class="education__item">
                <h3 class="education__title">{{ .Role | safeHTML }}</h3>
                <h4 class="education__place">{{ .Organization | safeHTML }} — {{ .Place | safeHTML }}</h4>
                <h4 class="education__date">{{ .Date | safeHTML }}</h4>
                {{ if .Details }}
                <ul class="experience__bullet">
                    {{ range .Details }}
                    <li>{{ safeHTML . }}</li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
